/* *******************************
Header
********************************** */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: relative;
    height: 13.3rem;
}

.logo {
    height: 5.4rem;
    margin-right: 41.25rem;
}

/* ******************************
Navigation
****************************** */

.main-nav-link {
    margin-right: 1.5rem;
    color: #8a94a6;
}
.main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    font-size: 2rem;
    transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
    color: #377dff;
}

.nav-cta {
    margin: 0;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
    padding: 1.6rem 2.3rem;
    border-radius: 10px;
    color: #fff;
    background-color: #377dff;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
    background-color: #2758b3;
    color: #fff;
}

.chevron-down {
    display: inline-block;
    width: 1.2rem;
    height: 1rem;
    margin-right: 2.85rem;
}

/* ******************************
Hero Section
******************************* */

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hero-img {
    width: 60.4rem;
    height: 61.6rem;
    border-radius: 15px;
}

.heading-primary {
    font-size: 6rem;
    font-weight: 700;
    line-height: 7.3rem;
    color: #323b4b;
    margin-bottom: 3.37rem;
}

.heading-describtion {
    font-size: 2rem;
    font-weight: 500;
    line-height: 3.5rem;
    color: #8a94a6;
    margin-bottom: 3.56rem;
}

.header-link {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 600;
    color: #377dff;
    text-decoration: none;
}

.hero-text-box {
    padding-top: 10rem;
}

/* ******************************
Offer Section
******************************* */

.section-offer {
    background-color: #fafbfc;
    padding-top: 10.8rem;
    max-width: 144rem;
    margin: 0 auto;
    height: 109.9rem;
}

.offer-text-box {
    text-align: center;
}

.heading-describtion {
    margin-bottom: 4.3rem;
}

.offer-icon {
    width: 8rem;
    height: 8rem;
    margin-bottom: 2.936rem;
}

.offer {
    width: 60.4rem;
    height: 28.5rem;
    box-shadow: 0px 50px 77px rgba(176, 183, 195, 0.22);
    border-radius: 15px;
    background-color: #ffffff;
    padding: 3.2rem 0 0 3.1rem;
}

.offer-title {
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.4rem;
    color: #323b4b;
    margin-bottom: 2.13rem;
}

.offer-text {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3rem;
    color: #8a94a6;
}

/* ******************************
Dream-job Section
******************************* */
.section-dream-job {
    display: flex;
    gap: 15rem;
    max-width: 144rem;
    height: 90rem;
}

.job-img {
    width: 60.4rem;
    height: 61.6rem;
    border-radius: 15px;
}

.dream-job-text {
    padding-top: 26.96rem;
}

.dream-job-img {
    padding-top: 13.5rem !important;
}

/* ******************************
Vacancy Section
******************************* */

.vacancy-section {
    align-items: center;
    text-align: center;
    background-color: #fafbfc;
    padding-top: 10.8rem !important;
    max-width: 144rem;
    padding: 3.8rem 10rem;
    margin: 0 auto;
}
.vacancy-info {
    display: flex;
    max-width: 144rem;
    padding-left: 14rem;
}

.vacancy-info :nth-child(2) {
    padding-left: 36rem;
}

.vacancy-info :last-child {
    padding-left: 15rem;
}
.vacancy-title {
    display: flex;
}
.vacancy-text {
    margin-bottom: 7.754rem !important;
    align-items: center;
}

.vacancy-position {
    font-weight: 60rem;
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: #323b4b;
}

.position {
    background-color: #ffffff;
    border-radius: 15px;
    max-width: 144rem;
    height: 11.5rem;
    display: grid;
    margin-bottom: 2.5rem;
}

.position-title {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.4rem;
    color: #323b4b;
}

.position-subtitle {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
}

.positions {
    text-align: left;
    margin-bottom: 5.4rem !important;
}
.box {
    box-shadow: 0px 50px 77px rgba(176, 183, 195, 0.22);
}

.padding {
    padding: 4.429rem 0 4.671rem 3.2rem;
}

.center {
    text-align: center;
}

.btn {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.4rem;
    color: #377dff;
    background-color: #e5f1ff;
    border-radius: 10px;
    width: 60.4rem;
    height: 6.6rem;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    background-color: #2758b3;
    color: #fff;
}
